.test {
    height: 100px;
    width: 30px;
    background-color: gray;
    border-radius: 1rem;
}
.carousel_con {
    width: 100%;
}
.margin50 {
    margin-top: 50px;
}
/*배너모음-----------*/
.main_service {
    text-align: center;
    padding: 0px;
}
.main_service > h3 {
    padding-top: 25px;
}
#main_service {
    margin-top: 50px;
    margin-bottom: 50px;
}

#banner {
    margin-bottom: 50px;
}
.banner {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.banner > strong {
    color: white;
    font-size: 48px;
    width: 100%;
    height: 300px;
    padding-top: 115px;
}
.banner > strong:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    text-shadow: none
}
.banner1 {
    background-image: url(../image/menu_banner1.png);
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner2 {
    background-image: url(../image/menu_banner2.png);
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner3 {
    background-image: url(../image/menu_banner3.png);
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner4 {
    background-image: url(../image/menu_banner4.png);
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner5 {
    background-image: url(../image/menu_banner5.png);
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}
/*배너모음-----------*/