/*네비바--------*/
.topBox {
    min-height: 100px;
    justify-content: space-between;
    display: flex;  
}
.navbar-toggler {
    margin-left: 80%;
}
.test2 {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 1rem;
}
.test {
    background-color: gray;
    height: 100px;
    border-radius: 1rem;
}
.nav_con {
    background-color: rgba(76, 0, 255, 0.623);
    margin-bottom: 50px;
    justify-content: space-between;
}
#navbar_box {
    padding: 0px;
}
.navbarBox {
    min-height: 100px;
    flex-direction: column;
    justify-content: center;
    display: flex;  
}
.nav-item > a {
    color: white;
    font-size: 21px;
    border-radius: 1rem;
}
.nav-item > a:hover {
    color: black;
    background-color: white;
    font-size: 21px;
}
@media (min-width: 1200px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .nav_phoneNumber {
        display: none;
    }
}

/*네비바 영역-----------*/