<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Social Login Test Page</h1>
</div>
<div>
    <a href="http://localhost:8080/oauth2/authorization/google" role="button">Google Login</a>
    <a href="http://localhost:8080/oauth2/authorization/naver" role="button">Naver Login</a>
    <a href="http://localhost:8080/oauth2/authorization/kakao" class="btn btn-third active" role="button">Kakao Login</a>
</div>

</body>
</html>