.container-fluid > div > img {
    padding: 0px;
    border-bottom: gray solid 2px;
} 
.top_banner {
    border-bottom: gray solid 2px;
}
.boxSize {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}
.marginB50 {
    margin-bottom: 50px;
}
body {
    background-color: white;
}
/*네비바 영역-----------*/

#navbar_box {
    padding: 0px;
}
.navbarBox {
    min-height: 150px;
    flex-direction: column;
    justify-content: center;
    display: flex;  
}
.nav-item > a {
    color: white;
    font-size: 21px;
}
@media (min-width: 1200px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .nav_phoneNumber {
        display: none;
    }
}
.nav_phoneNumber {
    text-align: center;
}
.nav_top_button {
    text-decoration: none;
}
.nav_phoneNumber > a > button {
    font-size: 12px;
    background-color: transparent;
}
.nav_phoneNumber > h6 {
    padding-top: 5px;
}
.nav_phoneNumber > h3 {
    color: orange;
}
.nav_top_bar_button {
    width: 60px;
}
/*네비바 영역-----------*/

@media (min-width: 1400px) {
    .main_body {
        display: flex;
        width: 1320px;
        height: 100px;
        margin: 50px auto 0px auto;
    }
    .top_body {
        width: 1320px;
        height: 100px;
        display: flex;
        padding-right: 10px;
    }
    .remocon {
        width: 250px;
        height: 100px;
        margin-right: 50px;
        background-color: rgba(139, 0, 0, 0.747);
        color: white;
        font-size: 38px;
        font-family: '고딕';
        text-align: center;
        padding-top: 20px;
    }
    .body_title {
        width: 1010px;
        display: flex;
        border-bottom: 1px darkgray solid;
        justify-content: space-between;
    }
    .body_title > h2 {
        padding-top: 35px;
        font-family: '고딕';
    }
    .body_title > p {
        font-family: '고딕';
        color: gray;
        padding-top: 50px;
    }
    .remocon_mainContent {
        width: 1320px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .remoconBody_r > a > div {
        width: 250px;
        height: 50px;
        font-size: 18px;
        padding-top: 10px;
        padding-left: 10px;
        margin-top: 5px;
        color: rgb(87, 84, 84);
        border: 1px rgb(193, 205, 216) solid;
    }
    .remoconBody_r > a {
        text-decoration: none;
    }
    .mainContent {
        margin-left: 50px;
        margin-top: 40px;
        margin-bottom: 100px;
        width: 1200px;
        min-height: 500px;
    }  
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .container-fluid > div > img {
        padding: 0px;
    } 
    .top_banner {
        border-bottom: gray solid 2px;
    }
    .main_body {
        display: flex;
        width: 1140px;
        height: 100px;
        margin: 50px auto 0px auto;
    }
    .top_body {
        width: 1320px;
        height: 100px;
        display: flex;
        padding-right: 10px;
    }
    .remocon {
        width: 200px;
        height: 100px;
        margin-right: 50px;
        background-color: rgba(139, 0, 0, 0.747);
        color: white;
        font-size: 28px;
        font-family: '고딕';
        text-align: center;
        padding-top: 28px;
    }
    .body_title {
        width: 880px;
        display: flex;
        border-bottom: 1px darkgray solid;
        justify-content: space-between;
    }
    .body_title > h2 {
        padding-top: 35px;
        font-family: '고딕';
    }
    .body_title > p {
        font-family: '고딕';
        color: gray;
        padding-top: 50px;
    }
    .remocon_mainContent {
        width: 1140px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .remoconBody_r > a > div {
        width: 200px;
        height: 50px;
        font-size: 14px;
        padding-top: 14px;
        padding-left: 10px;
        margin-top: 5px;
        color: rgb(87, 84, 84);
        border: 1px rgb(193, 205, 216) solid;
    }
    .remoconBody_r > a {
        text-decoration: none;
    }
    .mainContent {
        margin-left: 50px;
        margin-top: 40px;
        margin-bottom: 100px;
        width: 1020px;
        min-height: 500px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .container-fluid > div > img {
        padding: 0px;
    } 
    .top_banner {
        border-bottom: gray solid 2px;
    }
    .main_body {
        display: flex;
        width: 936px;
        height: 100px;
        margin: 50px auto 0px auto;
    }
    .top_body {
        width: 936px;
        height: 100px;
        display: flex;
        padding-right: 10px;
    }
    .remocon {
        display: none;
    }
    .body_title {
        width: 936px;
        display: flex;
        border-bottom: 1px darkgray solid;
        justify-content: space-between;
    }
    .body_title > h2 {
        padding-top: 43px;
        font-size: 28px;
        font-family: '고딕';
    }
    .body_title > p {
        font-family: '고딕';
        color: gray;
        padding-top: 58px;
        font-size: 14px;
    }
    .remocon_mainContent {
        width: 936px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .remoconBody_r > a > div {
        display: none;
    }
    .remoconBody_r > a {
        text-decoration: none;
    }
    .mainContent {
        margin-top: 40px;
        margin-bottom: 100px;
        width: 936px;
        min-height: 500px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container-fluid > div > img {
        padding: 0px;
    } 
    .top_banner {
        border-bottom: gray solid 2px;
    }
    .main_body {
        display: flex;
        width: 696px;
        height: 100px;
        margin: 50px auto 0px auto;
    }
    .top_body {
        width: 696px;
        height: 100px;
        display: flex;
        padding-right: 10px;
    }
    .remocon {
        display: none;
    }
    .body_title {
        width: 696px;
        display: flex;
        border-bottom: 1px darkgray solid;
        justify-content: space-between;
    }
    .body_title > h2 {
        padding-top: 43px;
        font-size: 28px;
        font-family: '고딕';
    }
    .body_title > p {
        font-family: '고딕';
        color: gray;
        padding-top: 58px;
        font-size: 14px;
    }
    .remocon_mainContent {
        width: 696px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .remoconBody_r > a > div {
        display: none;
    }
    .remoconBody_r > a {
        text-decoration: none;
    }
    .mainContent {
        margin-top: 40px;
        margin-bottom: 100px;
        width: 696px;
        min-height: 500px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container-fluid > div > img {
        padding: 0px;
    } 
    .top_banner {
        border-bottom: gray solid 2px;
    }
    .main_body {
        display: flex;
        width: 516px;
        height: 100px;
        margin: 50px auto 0px auto;
    }
    .top_body {
        width: 516px;
        height: 100px;
        display: flex;
        padding-right: 10px;
    }
    .remocon {
        display: none;
    }
    .body_title {
        width: 516px;
        display: flex;
        border-bottom: 1px darkgray solid;
        justify-content: space-between;
    }
    .body_title > h2 {
        padding-top: 58px;
        font-size: 20px;
        font-family: '고딕';
    }
    .body_title > p {
        font-family: '고딕';
        color: gray;
        padding-top: 66px;
        font-size: 10px;
    }
    .remocon_mainContent {
        width: 516px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .remoconBody_r > a > div {
        display: none;
    }
    .remoconBody_r > a {
        text-decoration: none;
    }
    .mainContent {
        margin-top: 40px;
        margin-bottom: 100px;
        width: 516px;
        min-height: 500px;
    }
}
@media (max-width: 575px) {
    .container-fluid > div > img {
        padding: 0px;
    } 
    .top_banner {
        border-bottom: gray solid 2px;
    }
    .main_body {
        display: flex;
        width: 100%;
        height: 100px;
        margin: 50px auto 0px auto;
    }
    .top_body {
        width: 100%;
        height: 100px;
        display: flex;
        padding-right: 10px;
    }
    .remocon {
        display: none;
    }
    .body_title {
        width: 551px;
        display: flex;
        border-bottom: 1px darkgray solid;
        justify-content: space-between;
    }
    .body_title > h2 {
        padding-top: 58px;
        font-size: 20px;
        font-family: '고딕';
    }
    .body_title > p {
        font-family: '고딕';
        color: gray;
        padding-top: 66px;
        font-size: 10px;
    }
    .remocon_mainContent {
        width: 551px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .remoconBody_r > a > div {
        display: none;
    }
    .remoconBody_r > a {
        text-decoration: none;
    }
    .mainContent {
        margin-top: 40px;
        margin-bottom: 100px;
        width: 551px;
        min-height: 500px;
    }
}


.gesipan { 
    width: 100%;
    height: 900px;
    max-width: 1300px;
}
.gesipan > a {
    text-decoration: none;
    color: black;
}
.gesipan_top {
    width: 100%;
    height: 50px;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-top: 5px solid rgb(102, 102, 102);
}
.gesipan_topindex {
    width: 10%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 12.5px;
    box-sizing: content-box;
    border-right: 1px gray solid;
    overflow: hidden;
}
.gesipan_toptitle {
    width: 60%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 12.5px;
    padding-left: 20px;
    box-sizing: content-box;
    border-right: 1px gray solid;
    border-left: 1px gray solid;
    overflow: hidden;
}
.gesipan_topmaker {
    width: 15%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 12.5px;
    box-sizing: content-box;
    border-right: 1px gray solid;
    border-left: 1px gray solid;
    overflow: hidden;
}
.gesipan_toptime {
    width: 15%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 12.5px;
    box-sizing: content-box;
    border-left: 1px gray solid;
    overflow: hidden;
}
.gesipan_socat {
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    border: 0px;
}
.gesipan_r {
    width: 100%;
    height: 40px;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 2px gray solid;
    display: flex;
    justify-content: center;
}
.gesipan_index {
    width: 10%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 8px;
    box-sizing: border-box;
    overflow: hidden;
}
.gesipan_title {
    width: 60%;
    height: 20px;
    text-align: left;
    padding-left: 20px;
    font-family: '고딕';
    margin-top: 8px;
    box-sizing: border-box;
    overflow: hidden;
}
.gesipan_maker {
    width: 15%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 8px;
    box-sizing: border-box;
    overflow: hidden;
}
.gesipan_time {
    width: 15%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 8px;
    box-sizing: border-box;
    overflow: hidden;
}
@media (max-width: 992px) {
    .gesipan_time {
        font-size: 12px;
    }   
}
@media (max-width: 767px) {
    .gesipan_time {
        font-size: 8px;
        margin-top: 10px;
    }   
    .gesipan_maker {
        font-size: 12px;
        margin-top: 10px;
    }
}
.gesipan_page {
    background-color: transparent;
}
.gesipan_page_r {
    width: 100%;
    height: 50px;
    max-width: 1300px;
    display: flex;
    justify-content: center;
}
.gesipan_page_button_p {
    background-color: transparent;
    border: 0px;
    height: 20px;
    margin-top: 15px;
}
.gesipan_page_button_n {
    background-color: transparent;
    border: 0px;
    height: 20px;
    margin-top: 15px;
}
.gesipan_page_button_p:hover {
    background-color: black;
    color: white;
}
.gesipan_page_button_n:hover {
    background-color: black;
    color: white;
}
.gesipan_button {
    background-color: transparent;
    border: 0px;
    height: 20px;
    width: 50px;
    margin-top: 15px;
}
@media (max-width: 767px) {
    .gesipan_button {
        width: 30px;
    }
}

.gesipan_button:hover {
    background-color: black;
    color: white;
}
.hide {
    display: none;
}




.pointer {
    background-color: rgba(199, 194, 194, 0.596);
}
.mainContent > h2 {
    border-left: solid brown 5px;
    margin-bottom: 25px;
}
.gesipan_content > h2 {
    border-left: solid brown 5px;
}
.gesipan_content > h4, h6 {
    padding-left: 5px;
}


.margin-bottom25 {
    margin-bottom: 25px;
}
.margin-bottomR {
    margin-bottom: 5px; 
}
.margin-top50 {
    margin-top: 50px;
}
.align_center {
    text-align: center;
}
.align_right {
    text-align: right;
}
.size {
    width: 500px;
    height: 300px;
}
.carousel_rr {
    width: 900px;
    height: 300px;
}
.carsousel_e {
    width: 900px;
    height: 300px;
}
@media (max-width: 992px) {
    .teck_logo {
        display: none;
    }
}
/*관리자 모드*/
.body_title > div > a > button {
    height: 50px;
    background-color: rgba(128, 128, 128, 0.363);
    color: black;
    border-radius: 1rem;
    width: 70px;
    font-family: '고딕';
    font-size: 18px;
}
.body_title > div > a > button:hover {
    background-color: black;
    color: white;
}
.harf {
    width: 100%;
    height: 50px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 1rem;
    margin-bottom: 10px;
    border: 0.5px solid gray;
}
.harfx2 {
    width: 100%;
    height: 50px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 1rem;
    margin-bottom: 10px;
    border: 0.5px solid gray;
}
.ck-editor__editable { 
    height: 400px; 
}
.ck-content { 
    font-size: 13px; 
}
.gesipan_content2 {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.493);
    margin-top: 10px;
    overflow: scroll;
}
.hide {
    display: none;
}
.red {
    color: red;
}
